LDAP_DOMAIN=vibhuvioio.com
LDAP_ORGANIZATION=Vibhuvioio Organization
LDAP_ADMIN_PASSWORD=admin123
LDAP_CONFIG_PASSWORD=config123
ENABLE_REPLICATION=false
ENABLE_MONITORING=true
SERVER_ID=1
INCLUDE_SCHEMAS=cosine,inetorgperson,nis
